/* Haplo Research Manager                            https://haplo.org
 * (c) Haplo Services Ltd 2006 - 2017   https://www.haplo-services.com
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.         */


#project_dates_table td a,
#project_dates_table td a:visited {
    background: #ccc;
    padding: 1px 4px;
    font-size: 11px;
    color: #fff;
    margin-left: 6px;
}

#project_dates_table:hover tr td a {
    background: #757575;
}

#project_dates_table tr td:nth-child(2) {
    border-left: 1px solid #ccc !important;
}

#project_dates_table tr td:nth-child(3) {
    border-left: 1px solid #ccc !important;
} 

.alert {
    border-left: 1px solid #ccc !important;
}

.amber-alert {
    border-left:10px solid orange !important;
    font-weight:bold;
}

.red-alert {
    border-left:10px solid red !important;
    font-weight:bold;
}

.past-alert {
    color: #ccc;
}

.earliest-deadline-date {
    display: none;
}

#project_dates_table td.admin-required-fixed {
    background-color: #fcc;
}

#project_dates_table td.no-longer-applicable {
    opacity: 0.3;
}
